div {
    width: 500px;
    margin: 10px
}

ol {
    color: #ccc;
    list-style-type: none;
}

ol li {
    position: relative;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 80px;
}

li p {
    font: 12px/1.5 Helvetica, sans-serif;
    padding-left: 60px;
    color: #555;
}

span {
    position: absolute;
    font: 1.5em Helvetica, sans-serif;
    font-style: italic;
}