<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Add brand form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="/css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <!--<title>Admin dashboard</title>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/admin.css}"
          href="/css/admin.css"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="/js/admin.js"
            th:src="@{/js/admin.js}"></script>

</head>
<body>
<div class="wrap">
    <nav class="nav-bar navbar-inverse" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" th:href="@{/}" href="#">Wake Odessa Crew</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <input type="text" class="form-control" placeholder="Search"/>
                </form>
                <li class="dropdown movable">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span
                            class="fa fa-4x fa-child"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="fa fa-user"></span>My Profile</a></li>
                        <li><a href="#"><span class="fa fa-gear"></span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-power-off"></span>Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <aside id="side-menu" class="aside" role="navigation">
        <ul class="nav nav-list accordion">
            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-globe"></i>Portal<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#" th:href="@{'/admin/addbrand'}">Brands</a></li>
                    <li><a href="#" th:href="@{'/admin/addProduct'}">Products</a></li>
                    <li><a href="#">Orders</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-users"></i>Users<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="/admin/admin-dashboard/users">Users</a></li>
                    <li><a href="/registration">New User</a></li>
                </ul>
            </li>

            <li class="nav-header">
                <div class="link"><i class="fa fa-lg fa-file-image-o"></i>Reports<i class="fa fa-chevron-down"></i>
                </div>
                <ul class="submenu">
                    <li><a href="#">Entries</a></li>
                    <li><a href="#">Redirects</a></li>
                    <li><a href="#">Pingbacks</a></li>
                    <li><a href="#">Tags</a></li>
                </ul>
            </li>

        </ul>
    </aside>


    <div class="content">
        <div class="top-bar">
            <a href="" class="side-menu-link burger">
                <span class='burger_inside' id='bgrOne'></span>
                <span class='burger_inside' id='bgrTwo'></span>
                <span class='burger_inside' id='bgrThree'></span>
            </a>
        </div>
        <section class="content-inner">

            <!--/*@thymesVar id="brand" type="com.kravchenko.wakeodessa.domains.Brand"*/-->
            <!--/*@thymesVar id="token" type="com.kravchenko.wakeodessa.domains.Brand"*/-->
            <form class="form-horizontal" th:object="${brand}" th:action="@{/admin/addbrand}"
                  enctype="multipart/form-data"
                  method="post">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Add Brand</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bName">Brand name</label>
                        <div class="col-md-4">
                            <input id="bName" name="bName" type="text" placeholder="name" class="form-control input-md"
                                   required=""
                                   th:field="*{brandName}"/>

                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="IBrand">Information</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="IBrand" name="IBrand" th:field="*{info}"></textarea>
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="image">Upload logo</label>
                        <div class="col-md-4">
                            <input id="image" name="image" class="input-file" type="file"/>
                            <!-- th:field="*{image}"/>-->
                            <div id="wrapper" style="margin-top: 20px;">
                                <div id="image-holder"></div>
                            </div>
                        </div>
                    </div>


                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ok"></label>
                        <div class="col-md-8">
                            <button id="ok" name="ok" class="btn btn-success mybtn">OK</button>
                            <button id="cancel" name="cancel" class="btn btn-danger mybtn">Cancel</button>
                        </div>
                    </div>
                    <th:block th:object="${token}" th:if="*{getBrandName()!=null}">
            <span style="text-align: center; font-weight: 600; color: #8A2BE2;"
                  th:text="'Brand:' + *{brandName} + ' adding to your database'"/>
                    </th:block>


                </fieldset>

            </form>
            <!--/*@thymesVar id="brands" type="com.kravchenko.wakeodessa.domains.Brands"*/-->

            <table class="table table-striped" th:object="${brands}">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand Name</th>
                    <th>Information</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="maBrand : *{brands}">
                    <td th:text="${maBrand.getBrand_id()}"></td>
                    <td th:text="${maBrand.getBrandName()}"></td>
                    <td th:text="${maBrand.getInfo()}"></td>
                    <td><p><img class="img-rounded" style="width: 100px; height: auto"
                                th:src="@{'/admin/addbrand/image/'+${maBrand.getBrand_id()}}"/></p></td>
                    <td>
                        <form id="form" name="form" th:action="@{'/admin/addbrand/edit/'+${maBrand.getBrand_id()}}"
                              method="get">
                            <div class="text-center pull-left">
                                <button class="btn btn-primary btn-lg mybtn" id="edit">Edit</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form id="deleteForm" name="delete"
                              th:action="@{'/admin/addbrand/delete/'+${maBrand.getBrand_id()}}"
                              method="get">
                            <div class="text-center pull-left">
                                <button type="submit" class="btn btn-danger btn-lg mybtn">Delete</button>
                            </div>
                        </form>


                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>

</div>

</body>
</html>