<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Admin dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <link th:href="@{/css/admin.css}"
          href="/css/admin.css"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/pagination.css}"
          href="/css/pagination.css"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"
          th:href="@{'https://fonts.googleapis.com/css?family=Raleway'}"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="/js/admin.js"
            th:src="@{/js/admin.js}"></script>
    <script src="webjars/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

    <!--Text framework-->
    <script src="/js/tinymce/js/tinymce/tinymce.min.js"
            th:src="@{/js/tinymce/js/tinymce/tinymce.min.js}"></script>
    <script>
        /*init the framework and check some options*/
        tinymce.init({
            selector: '#myText',
            plugin: 'a_tinymce_plugin',
            a_plugin_option: true,

            width: 600,
            height: 300,
            a_configuration_option: 400,

        });
        /*  $(document).on('focusin', function (e) {
         if ($(e.target).closest(".mce-window").length) {
         e.stopImmediatePropagation();
         }
         });*/

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"
            th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js'}"></script>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }

        .w3-quarter img {
            margin-bottom: -6px;
            cursor: pointer
        }

        .w3-quarter img:hover {
            opacity: 0.6;
            transition: 0.3s
        }
    </style>
    <!--/*@thymesVar id="users" type="java.util.List<com.kravchenko.wakeodessa.domains.User>"*/-->
</head>
<body>
<div class="wrap">
    <nav class="navbar" th:replace="fragment::userControls"></nav>
    <nav class="navbar" th:replace="fragment::adminNav"></nav>

    <!--Body content-->
    <div class="content">

        <div id="news">
            <!--/*@thymesVar id="news" type="com.kravchenko.wakeodessa.domains.News"*/-->
            <form class="form-horizontal w3-margin" th:object="${news}" th:action="@{'/admin/admin-dashboard/add_new_news'}"
                  enctype="multipart/form-data"
                  method="post" th:method="post">
                <fieldset>
                    <!-- Form Name -->
                    <legend class="w3-center">Add new news</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textarea">Title</label>
                        <div class="col-md-4">
                            <textarea id="textarea" name="title"
                                      th:field="${news.title}">default text</textarea>
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="myText">Text body</label>
                        <div class="col-md-4">
                            <textarea id="myText" name="textarea"
                                      th:field="${news.information}">default text</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="image">Upload picture</label>
                        <div class="col-md-4">
                            <input id="image" name="image" class="input-file" type="file"/>
                            <!-- <div id="wrapper" style="margin-top: 20px;">
                                 <div id="image-holder"></div>
                             </div>-->
                        </div>
                    </div>
                    <!--Buttons-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ok">Double Button</label>
                        <div class="col-md-8">
                            <button id="ok" name="button1id" class="w3-btn w3-hover-green center-block" type="submit">Add Post</button>
                            <button id="reset" name="button2id" class="w3-btn w3-hover-reds center-block" type="reset">Reset post</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

</div>
</body>
</html>