<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link th:href="@{/css/shop-item.css}"
          href="/css/shop-item.css"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"
          th:href="@{'https://fonts.googleapis.com/css?family=Raleway'}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:href="@{/css/main.css}"
          href="webjars/css/main.css"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="webjars/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            th:src="@{'https://code.jquery.com/ui/1.12.1/jquery-ui.js'}"></script>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
    <!--<script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="/js/admin.js"
            th:src="@{/js/admin.js}"></script>-->

</head>
<body>
<header th:replace="fragment :: header"></header>
<div class="container">
    <div class="row">
        <!--/*@thymesVar id="order" type="com.kravchenko.wakeodessa.domains.Order"*/-->
        <!--/*@thymesVar id="user" type="com.kravchenko.wakeodessa.domains.User"*/-->
        <!--/*@thymesVar id="productId" type="java.lang.Integer"*/-->
        <form class="form-horizontal"
              th:method="post"
              th:action="@{'/shop/main/'+ ${user.getId()} + '/order/'+${productId}+'/succes'}"
              th:object="${user}"
        >
            <fieldset>
                <!-- Form Name -->
                <legend>Order</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Full Name</label>
                    <div class="col-md-4">
                        <input id="name" name="name" type="text" placeholder="Full Name" class="form-control input-md"
                               required="true" th:field="${user.name}"/>

                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="mobile">Mobile</label>
                    <div class="col-md-4">
                        <input id="mobile" name="mobile" type="text" placeholder="Mobile No"
                               class="form-control input-md" required="true" th:field="${user.telNumber}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="adress">Adress</label>
                    <div class="col-md-4">
                        <input id="adress" name="adress" type="text" placeholder="adress"
                               class="form-control input-md" th:field="${user.homeAdress}"/>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <!--  <label class="col-md-4 control-label" for="singlebuttonsubmit"></label>-->
                    <div class="col-md-4">
                        <button id="singlebuttonsubmit" name="singlebuttonsubmit" class="btn btn-primary mybtn"
                                type="submit">Buy
                        </button>
                        <a th:href="@{'/shop/main/product/' + ${productId}}">
                            <button type="button" class="btn btn-danger mybtn"
                            >Cancel
                            </button>
                        </a>

                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
</body>
</html>