<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Registration form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <link href="/css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet" media="screen"/>
    <header th:replace="fragment :: header"></header>
</head>
<body>
<!--/*@thymesVar id="product" type="com.kravchenko.wakeodessa.domains.Product"*/-->
<!--/*@thymesVar id="brands" type="com.kravchenko.wakeodessa.domains.Brands"*/-->
<form class="form-horizontal" th:object="${product}" th:action="@{'/admin/addProduct/edit/'+${product.getProduct_id()}}"
      enctype="multipart/form-data" method="post">
    <fieldset>
        <!-- Form Name -->
        <legend>Edit product</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="model">Product model</label>
            <div class="col-md-4">
                <input id="model" name="Model" type="text"
                       placeholder="model" class="form-control input-md" required=""
                       th:field="*{productName}" th:value="${product.getProductName()}" th:valuetype="text"/>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="category">Category</label>
            <div class="col-md-4">
                <select id="category" th:field="*{category}">
                    <option th:each="categories : ${T(com.kravchenko.wakeodessa.domains.Categori).values}"
                            th:value="${categories}"
                            th:text="${categories.getDisplayedName()}">
                    </option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="brand">Brand </label>
            <div class="col-md-4">
                <select id="brand" th:field="*{brand}">
                    <option th:each="maBrand : ${brands.brands}"
                            th:value="${maBrand.getBrand_id()}"
                            th:text="${maBrand.brandName}">
                    </option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="price">Price</label>
            <div class="col-md-4">
                <input id="price" name="price" type="text" placeholder="$"
                       class="form-control input-md" required=""
                       th:field="*{price}" th:value="${product.getPrice()+'$'}"
                />
            </div>
        </div>
        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="imageUpload">Image</label>
            <div class="col-md-4">
                <input th:value="*{image}"
                       th:field="*{image}"
                       accept="image/*"
                       onchange=""
                       id="imageUpload" name="image" type="file"
                />
                <p><img id="thumbnil" th:src="@{'/image/'+${product.getProduct_id()}}"/></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="info">Product info</label>
            <div class="col-md-4">
                <textarea th:rows="10" th:field="*{info}"
                          class="form-control" id="info" name="info"></textarea>
            </div>
        </div>
        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ok"></label>
            <div class="col-md-8">
                <!--<button id="ok" name="ok" class="btn btn-success">Save</button>-->
                <input id="ok" type="submit" value="Save" class="mybtn btn btn-info btn-success"/>
                <button id="cancel" name="cancel" class="mybtn btn btn-danger">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>