<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <header th:replace="fragment :: header"></header>
</head>
<body>
<h1 th:text="#{message.resetPassword}">reset</h1>

<label>email</label>
<input id="email" name="email" type="email" value=""/>
<button type="submit" onclick="resetPass()">reset</button>

<a th:href="@{/registration.html}">
    registration
</a>
<a th:href="@{/login}">login</a>


<script th:inline="javascript">
    /*<![CDATA[*/


    var serverContext = /*[[@{/}]]*/
    /*[+
     +]*/

    function resetPass() {
        var email = $('#email').val();
        $.post(serverContext + "user/resetPassword", {email: email},
                function (data) {
                    window.location.href =
                            serverContext + "login?message=" + data.message;
                    console.log(serverContext + "login?message=" + data.message)
                })
                .fail(function (data) {
                    if (data.responseJSON.error.indexOf("MailError") > -1) {
                        window.location.href = serverContext + "emailError.html";

                    }
                    else {
                        window.location.href =
                                serverContext + "login?message=" + data.responseJSON.message;
                        console.log(serverContext + "login?message=" + data.responseJSON.message)
                    }
                });
    }
    /*]]>*/
</script>
</body>
</html>