<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"/>
    <title>Main Page WoC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" th:name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"
          th:href="@{'https://fonts.googleapis.com/css?family=Raleway'}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:href="@{/css/main.css}"
          href="webjars/css/main.css"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="webjars/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            th:src="@{'https://code.jquery.com/ui/1.12.1/jquery-ui.js'}"></script>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="center-block w3-margin" style="padding-top: 15%; padding-left: 10%">
<header th:replace="fragment :: header"></header>
<h1 class="center-block w3-margin"
    th:text="#{message.resetPassword}">reset</h1>

<label>email</label>
<input id="email" name="email" type="email" value=""/>
<button type="submit" onclick="resetPass()">reset</button>
<br></br>
<a th:href="@{/registration.html}">
    registration
</a><br></br>
<a th:href="@{/login}">login</a>


<script th:inline="javascript">
    /*<![CDATA[*/


    var serverContext = /*[[@{/}]]*/
            /*[+
             +]*/

            function resetPass() {
                var email = $('#email').val();
                $.post(serverContext + "user/resetPassword", {email: email},
                        function (data) {
                            window.location.href =
                                    serverContext + "login?message=" + data.message;
                            console.log(serverContext + "login?message=" + data.message)
                        })
                        .fail(function (data) {
                            if (data.responseJSON.error.indexOf("MailError") > -1) {
                                window.location.href = serverContext + "emailError.html";

                            }
                            else {
                                window.location.href =
                                        serverContext + "login?message=" + data.responseJSON.message;
                                console.log(serverContext + "login?message=" + data.responseJSON.message)
                            }
                        });
            }
    /*]]>*/
</script>
</body>
</html>