<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8"/>
    <meta name="viewport" th:name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link href="webjars/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/main.css}"
          href="webjars/css/main.css"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="webjars/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            th:src="@{'https://code.jquery.com/ui/1.12.1/jquery-ui.js'}"></script>
</head>
<body>
<header th:replace="fragment :: header"></header>

<div class="header-video">
    <video id="video-player" autoplay="true" loop="true" muted="" style="width:100%; height: auto; position: absolute; ">
        <source th:src="@{resource/img/1.mp4}" type="video/mp4"/>
    </video>
    <div class="container" style=" width: 100%;padding-left:0px ;padding-right: 0px;margin-top: 3px;">
        <div class="nav">
            <ul class="pull-left">

            </ul>
            <ul class="pull-right">
                <!--  сюда добавить нав бар -->
            </ul>
        </div>
    </div>
</div>
<!--блок описания и фото райдеров-->
<div class="team-container">
    <div class="container">
        <h2>Team Riders</h2>
        <p>Native spot<em> <a th:href="@{'//chernomorskiy.com.ua/'}" target="_blank">"Wakepark
            Chernomorskiy"</a></em></p>
        <div class="row">

            <div class="col-md-4">
                <div class="block">
                    <div class="thumbnail img">
                        <img th:src="@{resource/img/lex.jpg}" src="../static/img/lex.jpg"/>
                    </div>
                    <div class="img-desc">
                        <a href="www.facebook.com/syntetich">Aleey Mamushev</a>
                        <p> Lex живет и катает в Одессе. Является официальным представителем марки Trasher в Одессе.
                            Любимый трик BSTS7
                        </p>
                    </div>
                </div>


                <div class="block">
                    <div class="thumbnail img">
                        <img th:src="@{resource/img/egor.jpg}" src="../static/img/egor.jpg"/>
                    </div>
                    <div class="img-desc">
                        <a href="www.facebook.com/syntetich">Egor Kravchenko</a>
                        <p> Egor живет и катает в Одессе. Является официальным представителем марки Trasher в Одессе.
                            Любимый трик BSTS7
                        </p>
                    </div>
                </div>


            </div>
            <div class="col-md-4">

                <div class="block">
                    <div class="thumbnail img">
                        <img th:src="@{resource/img/kaplan.jpg}" src="../static/img/kaplan.jpg"/>
                    </div>
                    <div class="img-desc ">
                        <a href="http://www.google.com"> Каплан Димa</a>
                        <p> Димон живет и катает в Одессе. Является официальным представителем марки Trasher в Одессе.
                            Любимый трик BSTS7
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="thumbnail img">
                        <img th:src="@{resource/img/egor.jpg}" src="../static/img/egor.jpg"/>
                    </div>
                    <div class="img-desc">
                        <a href="www.facebook.com/kaplan"> Каплан Димa</a>
                        <p> Димон живет и катает в Одессе. Является официальным представителем марки Trasher в Одессе.
                            Любимый трик BSTS7
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>


    <footer style="height:10%;">
        <div class="col-lg-12">
            <p>Copyright &copy; Egor Kravchenko 2016</p>

        </div>

    </footer>


</div>
</body>

</html>