<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">>

<head lang="en">

    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{'http://fonts.googleapis.com/css?family=Oswald'}"
          href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"/>
    <link th:href="@{'http://fonts.googleapis.com/css?family=Open+Sans'}"
          href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type="text/css"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <link href="/css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet" media="screen"/>
    <link href="/css/login.css"
          th:href="@{/css/login.css}"
          rel="stylesheet" media="screen"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*[+
         $(".name").focus(function(){
         $(".name-help").slideDown(500);
         }).blur(function(){
         $(".name-help").slideUp(500);
         });

         $(".email").focus(function(){
         $(".email-help").slideDown(500);
         }).blur(function(){
         $(".email-help").slideUp(500);
         });
         +]*/
        /*]]>*/
    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center text-info"
                th:inline="text"
                th:if="${#httpServletRequest.remoteUser}!=null">Welcome to wakeodessacrew</h1>
            <h1 class="text-center login-title"
                th:inline="text"
                th:if="${#httpServletRequest.remoteUser}==null">Sign in
                to WakeOdessaCrew</h1>
            <div class="account-wall">
                <img class="profile-img"
                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt=""/>
                <form class="form-signin" th:action="@{/login}" method="post">
                    <input name="username" id="username" type="text" class="form-control" placeholder="username"
                           required="true" autofocus="true"/>
                    <input name="password" id="password" type="password" class="form-control" placeholder="Password"
                           required="true"/>
                    <button th:if="${#httpServletRequest.remoteUser}==null" class="btn btn-lg btn-primary btn-block"
                            type="submit">
                        Sign in
                    </button>

                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me"/>
                        Remember me
                    </label>
                    <a href="user/user_edit" th:inline="text" th:if="${#httpServletRequest.remoteUser}!=null"
                       th:href="@{/user/user_profile.html}"
                       class="pull-right need-help"><!--[[${#httpServletRequest.remoteUser}]]-->My profile</a><span
                        class="clearfix"></span>
                </form>
                <div class="text-center text-info" th:inline="text"
                     th:if="${#httpServletRequest.remoteUser}==null" th:text="'Hello, pls login!'"></div>


            </div>
            <div class="text-info" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="alert-danger text-center" th:if="${param.logout}">
                You have been logged out.
            </div>
            <div>
                <a th:inline="text"
                   th:if="${#httpServletRequest.remoteUser}==null"
                   th:href="@{/registration}"
                   class="pull-left new-account">Create an account </a>

                <a th:inline="text"
                   th:if="${#httpServletRequest.remoteUser}!=null"
                   th:href="@{/logout}" class="pull-right new-account">Log out </a>

                <a th:inline="text"
                   th:if="${#httpServletRequest.remoteUser}==null"
                   th:href="@{/forget_password}" class="pull-right new-account">Forget password</a>

            </div>
        </div>
    </div>
</div>

</body>
</html>