<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"
          th:href="@{'https://fonts.googleapis.com/css?family=Raleway'}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:href="@{/css/main.css}"
          href="webjars/css/main.css"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="webjars/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            th:src="@{'https://code.jquery.com/ui/1.12.1/jquery-ui.js'}"></script>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
    <link th:href="@{/css/shop-item.css}"
          href="/css/shop-item.css"
          rel="stylesheet" media="screen"/>


    <!--/*@thymesVar id="product" type="com.kravchenko.wakeodessa.domains.Product"*/-->
</head>

<body style="margin: 0px;">
<header th:replace="fragment :: header"></header>
<!--/*@thymesVar id="product" type="com.kravchenko.wakeodessa.domains.Product"*/-->
<div class="container w3-main" th:object="${product}">
    <div class="w3-row-padding">
        <div class="col-md-3" th:replace="main :: categories"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{'http://localhost:8080/shop/main/'}">Home</a></li>
            <li class="breadcrumb-item active" th:text="${product.getProductName()}"></li>
        </ol>

        <div class="col-md-9">
            <div class="thumbnail">
                <div class="col-sm-7 col-lg-7 col-md-7">
                    <img class="thumbnail w3-card-24 w3-border "
                         th:src="@{'/shop/main/get_product_image/image/'+${product.getProduct_id()}}"
                         alt=""/>
                </div>
                <div class="caption-full">
                    <!--/*@thymesVar id="user" type="com.kravchenko.wakeodessa.domains.User"*/-->

                    <th:block th:if="${user}!=null" sec:authorize="isAuthenticated()">
                        <form id="edit_form" name="edit_form"
                              th:action="@{'/shop/main/'+${user.getId()}+ '/order?productId=' + ${product.getProduct_id()}}"
                              method="post" th:method="post">

                            <button class="w3-btn w3-hover-green btn-add-to-card w3-round-large w3-large pull-right"><span
                                    class="glyphicon glyphicon-shopping-cart">   Buy</span>
                            </button>
                        </form>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                        <p><em>To continue shopping - login please!
                            <smile>:-)</smile>
                        </em></p>
                    </th:block>
                    <h4 th:text="'Model: ' + ${product.getProductName()}"
                        style="color:#2aabd2;  font-weight: bold;"></h4>
                    <h4 th:class="center-block" style="font-style: italic; color: #2aabd2"
                        th:text="'Price: ' + ${product.getPrice()} + ' $'"
                        class="pull-right"></h4>

                    <p style="font-weight: normal; font-style: italic; " th:text="${product.getInfo()}"></p>
                    <table class="data-table" id="product-attribute-specs-table">
                        <colgroup>
                            <col width="25%"/>
                        </colgroup>
                        <tbody>
                        <tr class="first odd">
                            <th>SKU</th>
                            <td>172404PARKSIB</td>
                        </tr>
                        <tr class="even">
                            <th>Brand</th>
                            <td>Ronix</td>
                        </tr>
                        <tr class="odd">
                            <th>Gender</th>
                            <td>Men's</td>
                        </tr>
                        <tr class="even">
                            <th>Model Year</th>
                            <td>2017</td>
                        </tr>
                        <tr class="odd">
                            <th>Ability</th>
                            <td>Advanced-Expert</td>
                        </tr>
                        <tr class="even">
                            <th>Base</th>
                            <td>Standard</td>
                        </tr>
                        <tr class="odd">
                            <th>Wakeboard Flex</th>
                            <td>Traditional</td>
                        </tr>
                        <tr class="even">
                            <th>Rocker</th>
                            <td>Camber</td>
                        </tr>
                        <tr class="last odd">
                            <th>Type</th>
                            <td>Boat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>

                </div>


            </div>


        </div>

    </div>

</div>
</body>

</html>
