<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>Main Page WoC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" th:name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"
          th:href="@{'http://www.w3schools.com/lib/w3.css'}"/>
    <link href="/static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"
          th:href="@{'https://fonts.googleapis.com/css?family=Raleway'}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:href="@{/css/main.css}"
          href="webjars/css/main.css"
          rel="stylesheet" media="screen"/>
    <script src="/static/js/jquery-3.1.1.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="webjars/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            th:src="@{'https://code.jquery.com/ui/1.12.1/jquery-ui.js'}"></script>
    <style>
        body, h1, h2, h3, h4, h5, h6, p {
            font-family: "Raleway", sans-serif;

        }
    </style>

</head>
<header th:replace="fragment :: header"></header>
<body>

<div class="container">
    <div class="row w3-light-grey">


        <div class="w3-card-24 w3-margin w3-white text-center">
            <p style="align-self:center;color: #4cae4c;font-size:x-large;
            font-weight:bolder;">
                Congratulations</p>
            <br></br>
            <p style="color: #4cae4c;font-size:x-large;font-weight: bolder;">
                Your order proceed. Our team will contact with u in a few minutes</p>
            <br></br>
            <p style="color: #4cae4c;font-size: small;">Thanks and CU soon! :).<br></br>Browser will redirect u
                automatically</p><br></br>


        </div>
        <b><span id="time" style="display: none"></span></b>
        <script th:inline="javascript">
            /*<![CDATA[*/
            /*[+
             var i = 5;//время в сек.
             function time(){
             document.getElementById("time").innerHTML = i;//визуальный счетчик
             i--;//уменьшение счетчика
             if (i < 0) location.href = "http://localhost:8080/shop/main";//редирект
             }
             time();
             setInterval(time, 2000);
             +]*/
            /*]]>*/
        </script>

        <div style="
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         margin: auto;"
             class="preloader" id="preloader">
            <div class="item">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
<footer th:replace="index::footerok"></footer>
</html>