<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <link href="/static/css/order_succes.css"
          th:href="@{/css/order_succes.css}"
          rel="stylesheet" media="screen"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">


        <div>
            <ol>
                <li><span>1.</span><p>Поздравляю</p></li>
                <li><span>2.</span><p>мы вам перезвоним</p></li>
                <li><span>3.</span><p>спасибо</p></li>
            </ol>
        </div>


    </div>
</div>
</body>
</html>